html{
    background-color: black;
}
#img{
    border: 5px solid white;
    margin-left: 25%;  
}
h1{
    text-transform : uppercase;
    color: white;
    text-align: center;
}
p{
    color: white;
    text-align: center;
}